/* Reset margin, padding, overflow */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Layout Wrapper */
.app-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Layout Right */
.layout-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 400px);
  transition: width 0.3s ease;
}

.sidebar.collapsed + .layout-right {
  width: calc(100% - 80px);
}

/* Content */
.layout-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

/* Fixed Center Box */
.center-box {
  width: 1400px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(218, 213, 213);
  border-radius: 10px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  max-height: 100%;
  overflow: visible;
}

/* Typography */
h1 {
  font-size: 48px;
  font-weight: 800;
}
h2 {
  font-size: 24px;
  font-weight: 600;
}
h3 {
  font-size: 10px;
  font-weight: 600;
}
h4 {
  font-size: 24px;
  font-weight: 500;
}
h5 {
  font-size: 20px;
  font-weight: 500;
}
h6 {
  font-size: 16px;
  font-weight: 400;
}
p, .label, input, button {
  font-size: 16px;
  font-weight: 400;
}
.label {
  font-size: 14px;
  font-weight: 500;
}
small {
  font-size: 12px;
}
